#formuleInput {
  padding: 6px;
  font-size: 15px;
  margin-bottom: 10px;
}
#testerFormule, #indiceBtn, #solutionBtn {
  margin-right: 10px;
}
.pedago-box {
  background: #f4f4f4;
  border-left: 4px solid #80665b;
  padding: 12px;
  margin-top: 20px;
  border-radius: 6px;
}
